<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>{{chartName}}</title>
    <style>
        body {
            background-color: #6D214F;
        }
        .node {
            font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
            fill: #bbb;
        }

        .node:hover {
            fill: #000;
        }

        .link {
            stroke: #2ecc71;
            stroke-opacity: 0.2;
            fill: none;
            pointer-events: none;
        }

        .node:hover,
        .node--source,
        .node--target {
            
            stroke: #fff;
            fill: #fff;
        }

        .node--source {
            fill: #fff;
        }

        .node--target {
            fill: #fff;
        }

        .link--source,
        .link--target {
            stroke-opacity: 1;
            stroke-width: 2px;
            stroke: #fff;
        }

        .link--source {
            stroke: #fff;
        }

        .link--target {
            stroke: #fff;
        }

        #description{
            margin-right: 35px;
            background-color: #6D214F;
        }

        #description ul a {
            font-size: 24px;
            line-height: 32px;
            color: rgb(255, 255, 255, 0.8);
            list-style-type: none ;
            margin-top: 6px;
            padding-top: 10px;
        }

        #description ul span {
            font-size: 60px;
            line-height: 32px;
            font-weight: lighter;
            padding-right: 8px;
            margin-top: 4px;
        }

        #main-title{
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            padding-left: 40px;
            margin-bottom: 0px;
            padding-top: 20px;
        }

        #myPopup {
            width: 528px;
            height: 350px;
            background-color: #fff;
            border: 1px solid #000;
            border-radius: 8px;
            background-size: 100% 360px;
            background-position: center;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

         /* Style the Image Used to Trigger the Modal */
        #myImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

        #myImg:hover {opacity: 0.7;}

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (Image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Caption of Modal Image (Image Text) - Same Width as the Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation - Zoom in the Modal */
        .modal-content, #caption { 
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @keyframes zoom {
            from {transform:scale(0)} 
            to {transform:scale(1)}
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px){
            .modal-content {
                width: 100%;
            }
        }

        .li_hover { 
            opacity: 0.3;
        }
        

    </style>

    <script type="text/javascript">
        var isMobile = false
        if (screen.width <= 700) {
            isMobile = true
        }
    </script>
</head>

<body>
    <div id="description">
        <h3 id="main-title"></h3>
        <ul id="group-list" style="margin-top: 15px;">
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
    </div>

    <script>
        let htmlString = ''
        
        if(isMobile) {
            htmlString = '<div style="margin-top: 30px; display: flex; flex-direction: column; justify-content: center; align-items: center;">'+
                            '<div style="margin-right: 35px;" id="main-show">'+
                            '</div>'+
                            '<div id="myPopup">'+
                                '<img style="border: 3px solid #000;" id="imgPopup" src="https://wu-chart.herokuapp.com/blankPic.jpg" class="img-thumbnail rounded">'+
                            '</div>'+
                        '</div>'
        }else {
            htmlString = '<div style="margin-top: 30px; display: flex; justify-content: center; align-items: center;">'+
                            '<div style="margin-right: 35px;" id="main-show">'+
                            '</div>'+
                            '<div id="myPopup">'+
                                '<img style="border: 3px solid #000;" id="imgPopup" src="https://wu-chart.herokuapp.com/blankPic.jpg" class="img-thumbnail rounded">'+
                                {{!-- '<div style="display: flex; flex-direction: column; align-items: flex-end;">'+
                                    '<div style="display: flex">'+
                                        '<i id="openDocBtn" onclick="openDoc()" style="display: none; font-size: 25px; padding: 6px; color: #43A047; background-color: #fff; border-radius: 8px;" class="fas fa-file-alt"></i>'+
                                    '</div>'+
                                '</div>'+ --}}
                            '</div>'+
                        '</div>'
        }
        $("#description").after(htmlString);

        var isCanClickModal = false
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myPopup');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function(){
            if(isCanClickModal) {
                modal.style.display = "block";
                {{!-- let picPath = $('#myPopup').css('background-image') --}}
                let picPath = $('#imgPopup').attr('src');
                
                picPath = picPath.split('/uploads/')
                picPath = picPath[1].split('")')
                let url = "https://wu-chart.herokuapp.com/uploads/"+picPath[0]
                console.log('picPath:', url)
                {{!-- 123 --}}
                modalImg.src = url
            }
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() { 
            modal.style.display = "none";
        }

        {{!-- End of modal --}}


        let chartName = "{{chartName}}";
        let groupCount = {{groupCount}};
        let groupColors = "{{groupColors}}";
        let groupNames = "{{groupNames}}";
        let fontSize = {{fontSize}};
        let circleSize = {{circleSize}};
        let data = "{{data}}";
        data = JSON.parse(decodeURI(data))
        groupColors = JSON.parse(decodeURI(groupColors))
        groupNames = JSON.parse(decodeURI(groupNames))
        
        console.log('chartName:', chartName)
        console.log('groupCount:', groupCount)
        console.log('groupColors:', groupColors)
        console.log('groupNames:', groupNames)
        console.log('fontSize:', fontSize)
        console.log('circleSize:', circleSize)
        console.log('data:', data)

        $(document).ready(function() {

            $('#main-title').html(chartName)
            let stringList = ''
            for(let i=0;i<groupCount;i++) {
                let url = 'https://wu-chart.herokuapp.com/chart/'+chartName+'/'+(i+1)
                if(groupNames[i].charAt(0)=='!') {
                    groupNames[i] = groupNames[i].substr(1)
                }
                stringList += '<a href="'+url+'" target="_blank"><li class="ll" style="float: left; margin-right: 25px ;color: '+groupColors[i]+';"><span style="color: '+groupColors[i]+';">■</span>'+groupNames[i]+'</li></a>'
            }
            $('#group-list').html(stringList)
            let oldColor
            $('.ll').hover(function() {
                oldColor = $(this).css('color')
                $(this).css('color', '#fff')
            }, function() {
                $(this).css('color', oldColor)
            })

        })

        {{!-- let circleSize = 120  --}}
        var diameter = 700,
            radius = diameter / 2,
            innerRadius = circleSize; // circle size 120-360

        var cluster = d3.cluster()
            .size([360, innerRadius]);

        var line = d3.radialLine()
            .curve(d3.curveBundle.beta(0.85))
            .radius(function(d) { return d.y; })
            .angle(function(d) { return d.x / 180 * Math.PI; });


        var svg = d3.select("#main-show").append("svg")
            .attr("width", diameter)
            .attr("height", diameter)
            .attr("class", "row")
            .append("g")
            .attr("transform", "translate(" + radius + "," + radius + ")")
            .attr("class", "col-sm-4")

        var link = svg.append("g").selectAll(".link"),
            node = svg.append("g").selectAll(".node");


        d3.json("https://wu-chart.herokuapp.com/views/"+chartName+".json", function(error, classes) {
            if (error) throw error;

            console.log('class:', classes)

            var root = packageHierarchy(classes)
                .sum(function(d) { return d.size; });

            cluster(root);

            link = link
                .data(packageImports(root.leaves()))
                .enter().append("path")
                .each(function(d) { d.source = d[0], d.target = d[d.length - 1]; })
                .attr("class", "link")
                .attr("d", line);

            node = node
                .data(root.leaves())
                .enter().append("text")
                .attr("class", "node")
                .attr("dy", "0.31em")
                .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + (d.y + 8) + ",0)" + (d.x < 180 ? "" : "rotate(180)"); })
                .attr("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
                .text(function(d) { return d.data.key; })
                .on("mouseover", mouseovered)
                .on("mouseout", mouseouted);


            $(document).ready(function() {
                
                let fSize = fontSize ; //7-15
                let _1nodeColor = '#ffff00'; 
                let _2nodeColor = '#00ffff'; 

                let myNodes = document.getElementsByClassName('node')
                for(let i=0;i<classes.length;i++) {
                    let gNo = classes[i].groupNumber
                    myNodes[i].classList.add(""+gNo)
                }

                for(let i=0;i<groupCount;i++) {
                    $('.'+(i+1)).css('fill', groupColors[i])
                    console.log(groupColors[i])
                    $("."+(i+1)).hover(function() {
                        $(this).css("fill", '#fff')
                    }, function() {
                        $(this).css("fill", groupColors[i])
                    });
                }

                $(".node").css("font-size", fSize+"px");
                $(".node").css("cursor", "pointer");
                $("#myPopup").css("cursor", "pointer");

                let allNode = document.getElementsByClassName('node')
                for(let i=0;i<allNode.length;i++) {
                    allNode[i].setAttribute("data-url", classes[i].url)
                    allNode[i].setAttribute("data-img", classes[i].imgName)
                    console.log('url'+i+':', classes[i].url)
                    console.log('img'+i+':', classes[i].imgName)
                }

                $(".node").on('click', function() {
                    isCanClickModal = true
                    let url = $(this).attr("data-url")
                    let imgName = $(this).attr("data-img")
                    $('#myPopup').css("display", "unset")
                    $('#myPopup').attr("data-url", url)
                    $('#myPopup').attr("data-img", imgName)
                    let urlString = "https://wu-chart.herokuapp.com/uploads/"+imgName
                    {{!-- $('#myPopup').css("background-image", urlString) --}}
                    $("#imgPopup").attr("src", urlString);

                    if(url!='https://www.google.co.th/') {
                        $('#openDocBtn').css('display', 'unset')
                    }else {
                        $('#openDocBtn').css('display', 'none')
                    }
                })
    
            })


        });

        function mouseovered(d) {
            node
                .each(function(n) { n.target = n.source = false; });

            link
                .classed("link--target", function(l) { if (l.target === d) return l.source.source = true; })
                .classed("link--source", function(l) { if (l.source === d) return l.target.target = true; })
                .filter(function(l) { return l.target === d || l.source === d; })
                .raise();

            node
                .classed("node--target", function(n) { return n.target; })
                .classed("node--source", function(n) { return n.source; });

        }

        function mouseouted(d) {
            link
                .classed("link--target", false)
                .classed("link--source", false);

            node
                .classed("node--target", false)
                .classed("node--source", false);
        }
       
        function packageHierarchy(classes) {
            var map = {};

            function find(name, data) {
                var node = map[name], i;
                if (!node) {
                    node = map[name] = data || {name: name, children: []};
                    if (name.length) {
                        node.parent = find(name.substring(0, i = name.lastIndexOf(".")));
                        node.parent.children.push(node);
                        node.key = name.substring(i + 1);
                    }
                }
                return node;
            }

            classes.forEach(function(d) {
                find(d.name, d);
            });
            return d3.hierarchy(map[""]);
        }

        function packageImports(nodes) {
            var map = {},
                imports = [];


            nodes.forEach(function(d) {
                map[d.data.name] = d;
            });

            nodes.forEach(function(d) {
                if (d.data.imports) d.data.imports.forEach(function(i) {
                    imports.push(map[d.data.name].path(map[i]));
                });
            });
            return imports;
        }

        $("#openDocBtn").css("cursor", "pointer");
        function openDoc() {
            let url = $('#myPopup').attr("data-url")
            console.log('url is', url)
            window.open(url);
        }
    </script>
</body>
</html>