<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>{{chartName}} : {{groupName}}</title>

    <style>
        #main-title {
            padding: 25px 0;
        }
        .card-line {
            padding: 15px 0;
        }
    </style>
</head>
<body>

    

    <div id="main-show" class="container">
        <div id="main-title" class="display-4">{{chartName}} : {{groupName}}</div>
        <hr id="after-main-title">
    </div>
    

    <script>
        let data = "{{data}}"
        data = JSON.parse(decodeURI(data))
        console.log('data:', data)
        
        let cardString = ''
        let len = Math.floor(data.length)

        let _1 = 0
        let _2 = 1
        let htmlCardString = ''
        while(true) {
            let rowString = '<div class="row card-line">'
            let _1colString = ''
            let _2colString = ''
            htmlCardString += rowString
            if(_1<data.length) { // have data in index _1
                let importString = ''
                for(let i=0;i<data[_1].imports.length;i++) {
                    importString += data[_1].imports[i]
                    if(i<data[_1].imports.length-1) {
                        importString += ', '
                    }
                }
                let urlImage = 'https://wu-chart.herokuapp.com/uploads/'+data[_1].imgName
                let show_link = ''
                if(data[_1].url != 'http://google.co.th') {
                    show_link = '<a href="'+data[_1].url+'" class="btn btn-primary">Info</a>'
                }
                _1colString += 
                '<div class="col-sm-6">'+
                    '<div class="card">'+
                        '<div class="card-body">'+
                            '<h5 class="card-title">'+data[_1].name+'</h5>'+
                            '<img src="'+urlImage+'" class="img-thumbnail rounded" >'+
                            '<p class="card-text">'+importString+'</p>'+ show_link +
                        '</div>'+
                    '</div>'+
                '</div>'

                htmlCardString += _1colString
            }else {
                htmlCardString += '</div>' // end .row
                break;
            }
            if(_2<data.length) { // have data in index _2
                let importString = ''
                for(let i=0;i<data[_2].imports.length;i++) {
                    importString += data[_2].imports[i]
                    if(i<data[_2].imports.length-1) {
                        importString += ', '
                    }
                }
                let urlImage = 'https://wu-chart.herokuapp.com/uploads/'+data[_2].imgName
                let show_link = ''
                if(data[_2].url != 'http://google.co.th') {
                    show_link = '<a href="'+data[_2].url+'" class="btn btn-primary">Info</a>'
                }
                _2colString += 
                '<div class="col-sm-6">'+
                    '<div class="card">'+
                        '<div class="card-body">'+
                            '<h5 class="card-title">'+data[_2].name+'</h5>'+
                            '<img src="'+urlImage+'" class="img-thumbnail rounded" >'+
                            '<p class="card-text">'+importString+'</p>'+ show_link +
                        '</div>'+
                    '</div>'+
                '</div>'

                htmlCardString += _2colString
            }else {
                htmlCardString += '</div>'
                break;
            }
            htmlCardString += '</div>'
            _1 = _1+2
            _2 = _2+2
        }
        
        console.log('html String is ', htmlCardString)
        $("#after-main-title").after(htmlCardString)

    </script>
</body>
</html>