<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>{{chartName}} : {{groupName}}</title>

    <style>

    </style>
</head>
<body>

    

    <div id="main-show" class="container">
        <div class="display-4">{{chartName}} : {{groupName}}</div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script>
        let data = "{{data}}"
        data = JSON.parse(decodeURI(data))
        console.log('data:', data)
        
        let cardString = ''
        let len = Math.floor(data.length)
        for(let i=0;i<data.length;i*=2) {
            if(i+1>=data.length) {
                let importString1 = ''
                for(let i=0;i<data[i].imports.length;i++) {
                    importString1 += data[i].imports[i] 
                    if(i<data[i].imports.length-1) {
                        importString1 += ', '
                    }
                }
                cardString += 
                '<div class="row">'+
                    '<div class="col-sm-6">'+
                        '<div class="card">'+
                            '<div class="card-body">'+
                                '<h5 class="card-title">'+data[i].name+'</h5>'+
                                '<p class="card-text">'+importString1+'</p>'+
                                '<a href="'+data[i].url+'" class="btn btn-primary"></a>'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                '</div>'
            }else {
                let importString1 = ''
                let importString2 = ''
                for(let i=0;i<data[i].imports.length;i++) {
                    importString1 += data[i].imports[i] 
                    if(i<data[i].imports.length-1) {
                        importString1 += ', '
                    }
                }
                for(let i=0;i<data[i+1].imports.length;i++) {
                    importString2 += data[i+1].imports[i] 
                    if(i<data[i+1].imports.length-1) {
                        importString2 += ', '
                    }
                }
                cardString += 
                '<div class="row">'+
                    '<div class="col-sm-6">'+
                        '<div class="card">'+
                            '<div class="card-body">'+
                                '<h5 class="card-title">'+data[i].name+'</h5>'+
                                '<p class="card-text">'+importString1+'</p>'+
                                '<a href="'+data[i].url+'" class="btn btn-primary"></a>'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                    '<div class="col-sm-6">'+
                        '<div class="card">'+
                            '<div class="card-body">'+
                                '<h5 class="card-title">'+data[i+1].name+'</h5>'+
                                '<p class="card-text">'+importString2+'</p>'+
                                '<a href="'+data[i+1].url+'" class="btn btn-primary"></a>'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                '</div>'
            }
            
        }

    </script>
</body>
</html>